<hr>
<footer>
    <span>
        <h4>SITEMAP</h4>
        <ul>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        </ul>
    </span>
    <span>
        <h4>FOOD FOR THOUGHT</h4>
        <ul>
            <li>I see bread people</li>
        </ul>
    </span>
    <span>
        <h4>HELPFUL LINKS</h4>
        <ul>
            <li><a href="https://www.netflix.com" target="_blank">netflix.com</a></li>
            <li><a href="https://www.hulu.com" target="_blank">hulu.com</a></li>
            <li><a href="https://www.disneyplus.com" target="_blank">disneyplus.com</a></li>
        </ul>
    </span>
    <span>
        <h4>CONTACT</h4>
        <ul>
            <li><a href="mailto:chancedbs@gmail.com">chancedbs@gmail.com</a></li>
        </ul>
    </span>
    <span style="padding-top: 10px;">
        &copy; {{ this.year }} Chance Brinkman-Sull
    </span>
    <span>
        <p><i class="fas fa-code" matTooltip="Developed"></i> with <i matTooltip="paint">🖌️</i> by <a href="https://www.sunderapps.com/" target="_blank" matTooltip="Sunder Apps"><img class="sunder" src="https://i.imgur.com/y1zkxwA.png" /></a></p>
    </span>
</footer>