<hr>
<footer>
    <span>
        <h4>SITEMAP</h4>
        <ul>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li><a routerLink="/workouts" routerLinkActive="active">Workouts</a></li>
            <li><a routerLink="/overview" routerLinkActive="active">Overview</a></li>
            <li><a routerLink="/equipment" routerLinkActive="active">Equipment</a></li>
            <li><a routerLink="/goals" routerLinkActive="active">Goals</a></li>
            <li><a routerLink="/nutrition" routerLinkActive="active">Nutrition</a></li>
        </ul>
    </span>
    <span>
        <h4>RUN!</h4>
        <ul>
            <li>Escape the horde!</li>
        </ul>
    </span>
    <span>
        <h4>FURTHER RESOURCES</h4>
        <ul>
            <li><a href="https://www.deathcomeslifting.com" target="_blank">deathcomeslifting.com</a></li>
        </ul>
    </span>
    <span>
        <h4>CONTACT</h4>
        <ul>
            <li><a href="mailto:zak@deathcomeslifting.com">zak@deathcomeslifting.com</a></li>
        </ul>
    </span>
    <span style="padding-top: 10px;">
        &copy; {{ this.year }} Death Comes Lifting
    </span>
    <span>
        <p><i class="fas fa-code" matTooltip="Developed"></i> with <i matTooltip="blood, sweat, and tears">🏋️</i> by <a href="https://www.sunderapps.com/" target="_blank" matTooltip="Sunder Apps"><img class="sunder" src="https://i.imgur.com/cxiJdRZ.png" /></a></p>
    </span>
</footer>