<hr>
<footer>
    <span id="footer-warning">
        <h4>YE BE WARNED!</h4>
        <p>This site offers health, fitness and nutritional information and is designed for educational purposes only. You should not rely on our Necronomicon of information as a substitute for, nor does it replace, professional medical advice, diagnosis, or treatment. If you have any concerns or questions about your health, you should always consult with a plague-doctor or other health-care professional. Do not disregard, avoid or delay obtaining medical or health related advice from your health-care professional because of something you may have read on this site. The use of any information provided on this site is solely at your own risk.</p>
    </span>
    <span id="footer-resources">
        <h4>FURTHER RESOURCES</h4>
        <ul>
            <li><a href="https://www.deathcomeslifting.com" target="_blank">deathcomeslifting.com</a></li>
            <li><a href="https://open.spotify.com/playlist/1JEBL5gpZbRZ9qIQA6exsw" target="_blank">Spotify Playlist</a></li>
            <li><a href="https://podcasts.apple.com/us/podcast/death-comes-lifting-podcast/id1474485344" target="_blank">Apple Podcast</a></li>
            <li><a href="https://podcasts.google.com/?feed=aHR0cHM6Ly93d3cuZGVhdGhjb21lc2xpZnRpbmcuY29tL3BvZGNhc3Q_Zm9ybWF0PXJzcw" target="_blank">Google Podcast</a></li>
        </ul>
    </span>
    <span class="bottom">
        &copy; {{ this.year }} Death Comes Lifting
    </span>
    <span class="bottom">
        <p><i class="fas fa-code" matTooltip="Developed"></i> with <i matTooltip="braaaaiinnnsss">🧟</i> by <a href="https://www.sunderapps.com/" target="_blank" matTooltip="Sunder Apps"><img class="sunder" src="https://i.imgur.com/cxiJdRZ.png" /></a></p>
    </span>
</footer>