<div class="navbar">
    <nav>
        <h1  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">28 Reps<br/><span>Later</span></h1>
        <ul>
            <li><a routerLink="/workouts/" routerLinkActive="active">Workouts</a></li>
            <li><a routerLink="/overview/" routerLinkActive="active">Overview</a></li>
            <li><a routerLink="/equipment/" routerLinkActive="active">Equipment</a></li>
            <li><a routerLink="/goals/" routerLinkActive="active">Goals</a></li>
            <li><a routerLink="/nutrition/" routerLinkActive="active">Nutrition</a></li>
            <li><a href="mailto:zak@deathcomeslifting.com">Contact</a></li>
            <li>
                <div>
                    <a href="https://www.instagram.com/chancedbs/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/chance.brinkmansull"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/chancedbs"><i class="fab fa-twitter"></i></a>
                </div>
            </li>
        </ul>
    </nav>
</div>