<h3>Equipment</h3>
<p>As mentioned, the video and content found within this plan <span>WILL</span> include traditional at-home fitness equipment <span>AND</span> every day house hold supplies and weapons you ha no idea could be fitness equipment. Feel free to adjust and modify based on what you have and what you need. For those who have nothing, here is a complete list of exercise and equipment modifications you can make so you can achieve the <span>strongest physique possible</span> on the quarantine trainer.</p>
<table>
    <tbody>
        <tr>
            <td><span>Weight bench</span></td>
            <td>a piece of furniture or desk that is suitable, mats, blankets folded up, boxes, storage containers, cushions</td>
        </tr>
        <tr>
            <td><span>Dips, planches, push ups</span></td>
            <td>on two tables, buckets, chairs, pushups instead, stairs, crates</td>
        </tr>
        <tr>
            <td><span>Weight (DB or Barbell) Alternatives</span></td>
            <td>buckets filled with water, sand, rocks, or <span>intestines</span>. Tools, wrenches, sheers, shovels, guitars, amps (farmer carry), basically anything you can pick up and put down safely. There is no limit. Jugs, water bottles, cases of water, soup, whatever.</td>
        </tr>
        <tr>
            <td><span>KB</span></td>
            <td><span>zombie heads</span>, jugs, sealed bucket, DB if you have it, dog food,</td>
        </tr>
        <tr>
            <td><span>Med ball</span></td>
            <td>bricks / cinder block, dog food, a suitcase full of <span>shit</span></td>
        </tr>
        <tr>
            <td><span>Bands</span></td>
            <td>plastic gloves tied together, <span>undead entrials</span>, <span>tongues</span>, etc.</td>
        </tr>
        <tr>
            <td><span>Grip trainer</span></td>
            <td>literally anything... shake weight???</td>
        </tr>
    </tbody>
</table>
<p>If your weights or homemade <span>doomsday equipment</span> are of limited weight and variety to the point that you feel you can&rsquo;t complete the given exercise properly in the rep range given, manipulate the tempo. For example, if all you have is a 15 pound dumbbell or 10 pound jug of water to do 5 heavy single arm rows with, simply perform the five rows <span>really slow</span>, feeling your muscles <span>stretch</span> and <span>contract</span>, controlling the weight (and your breath!!) completely through the movement, until 5 reps becomes difficult... or as close as you can get to it. Conversely, speeding up the tempo to <span>rep some shit out</span> is welcome as well.</p>
<h4>Bring it</h4>