<h3>Workouts</h3>
<div class="plan" *ngIf="this.plan.length; else noWorkouts">
    <div class="day" [class.open]="workout.open" *ngFor="let workout of plan; let i = index">
        <div class="title" (click)="workout.open = !workout.open">
            <h6>{{ i + 1 }}</h6>
            <mat-chip-list>
                <mat-chip>{{ workout.theme }}</mat-chip>
            </mat-chip-list>
            <h4>{{ workout.description }}</h4>
        </div>
        <div class="section" *ngFor="let section of workout.sections">
            <h5>{{ section.name }}</h5>
            <p>{{ section.description }}</p>
            <div class="reps" *ngFor="let rep of section.reps">
                <mat-chip-list *ngIf="rep.amount; else noReps">
                    <mat-chip>{{ rep.amount }}</mat-chip>
                </mat-chip-list>
                <ng-template #noReps>
                    <mat-chip-list class="hidden">
                        <mat-chip></mat-chip>
                    </mat-chip-list>
                </ng-template>
                <div class="brace" [class.hidden]="!rep.amount">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <div class="rep">
                    <div class="exercise" *ngFor="let exercise of rep.exercises">
                        <mat-chip-list *ngIf="exercise.amount; else noAmount">
                            <mat-chip>{{ exercise.amount }}</mat-chip>
                        </mat-chip-list>
                        <ng-template #noAmount>
                            <mat-chip-list class="hidden">
                                <mat-chip></mat-chip>
                            </mat-chip-list>
                        </ng-template>
                        <p>{{ exercise.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noWorkouts>
    <h4 id="wasting">Wasting your quarantine away on the couch?</h4>
    <label for="loadWorkouts">
        <span>LOAD A WORKOUT PLAN</span>
        <img src="https://i.imgur.com/UHWbMdg.png" />
    </label>
    <input id="loadWorkouts" type="file" (change)="loadWorkout($event)" />
</ng-template>